/* @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap'); */
/* jost-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
  /* jost-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/jost-v14-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* jost-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/jost-v14-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* jost-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/jost-v14-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
 :root{
    --bg-main:#009c9d;
    --white-color:#ffffff;
    --black-color:#000;
    --bg-orenge:#f76031;
    --bs-link-hover-color-rgb: 10,88,202;
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color:#828586;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
    /* color: inherit; */
}
p{
    font-size: 18px;
}
.container{
    width: 1420px;
    margin: auto;
}
.spacer{
    padding-top:90px;
    padding-bottom: 80px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
}
.justify-brtween{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.bg-main{
    background-color: var(--bg-main);
}
@keyframes rotateme{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes border-transform{
    0%, 100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }    
}
@keyframes ripple{
    0%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.5);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes moveleftbounce{
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px);
    }
}
/* =======================================================================================
                                        header
========================================================================================*/


/*===================================== top header =======================================*/

.top_header{
    padding: 12px 0;
}
.soical_icon > ul li{
    padding:0  10px;
    border-right: 1px #c0bfbf solid;
    font-size: 13px;
}
.soical_icon > ul > li >a{
    color: var(--white-color);
    transition: .4s;
}
.soical_icon li:hover a{
    color:var(--bg-orenge);
}
.soical_icon > ul li:first-child{
    padding-left: 0;
}
.soical_icon > ul li:last-child{
    border: none;
}
.contect_add > ul > li {
    padding-left: 30px;
    font-size: 16px;
}
.contect_add > ul > li > a{
    padding-left: 10px;
    color: var(--white-color);
    transition:.4s ;
}
.contect_add > ul > li >img{
    margin-bottom: -2px;
}
.contect_add li:hover a{
    color: var(--bg-orenge);
}

/*================================================= logo header =============================================== */
.logo_header{
    padding: 20px 0;    
}
.logo_header > img{
    padding: 12px 0;
}
.main-menu li{
    padding-left: 30px;
    position: relative;
}
.main-menu li a{
    padding: 20px 0;
    font-size: 17px;
    font-weight: 500;
    color: var(--black-color);
}
.main-menu li a > i{
    font-size: 12px;
    padding: 7px;
}
.main-menu > li:hover > a,
.main-menu > li > .active{
    color: var(--bg-main);
}
.sub-menu{
    position: absolute;
    width: 250px;
    line-height: 10px;
    background-color: var(--white-color);
    box-shadow: 0 0 30px rgba(44, 178, 179, 0.1);

    opacity: 0;
    visibility: hidden;
    transform: translateY(-50px);
    transition: .3s;
}
.sub-menu li{
    position: relative;
}
.sub-menu li a{
    color: #828586;
    font-size: 16px;
    font-weight: 200;
}
.sub-menu li:hover >  a{
    color: var(--bg-main);
}
.main-menu li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: .3s;
}
.peta-menu{
    position: absolute;
    right: 100%;
    top:23%;
    width: 200px;
    background-color: var(--white-color);
    box-shadow: 0 0 30px rgba(44, 178, 179, 0.1);

    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: .3s;
}
.sub-menu li:hover .peta-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: .3s;
}
.option{
    margin-left: 50px;
}
.option > .s_btn{
    width: 47px;
    height: 47px;
    font-size: 20px;
    line-height: 50px;
    border-radius: 100% !important;
    margin-right: 33px;
    background-color: rgba(45, 202, 164, 0.15);
    border: none;
    transition: 1s;
}
.option:hover .s_btn{
    background-color: var(--bg-orenge);
    color: var(--white-color);
    cursor: pointer;
}
.option-item > .btn{
    padding: 15px 28px;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--bg-orenge);
    color: var(--white-color);
    transition: 1s;
}
.option-item:hover .btn{
    background-color: var(--black-color);
}

/* /* ====================================================================================================
                                                main
=======================================================================================================*/

/*========================================   banner area  ============================================== */

 .banner-area{
   background-color: rgba(44, 178, 179, 0.05);
   padding-top: 30px;
   padding-bottom: 60px;
   display: flex;
   flex-wrap: wrap;
   height: 800px;
   position: relative;
   z-index: -8;
}
.banner-contant{
    width: 50%;
}
.banner-contant  span{
    font-size: 20px;
    line-height: 10px;
    color: var(--bg-orenge);
    margin-bottom: 10px;
    margin-left: 5px;
}
.banner-contant  h1{
    font-size: 82px;
    line-height: 100px;
    font-weight: 800;
    color: var(--black-color);
}
.banner-contant  p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    padding-right: 20px;
}
.default-btn{
    background-image: linear-gradient(180deg, #2DC97C 0%, #2CB4AF 100%);
    color: var(--white-color);
    padding: 15px 28px;
    border: none;
    font-size: 20px;
    font-weight: 500;
}
.default-btn:hover{
    background-image: linear-gradient(180deg,#f76031 0%,#f76031 100%);
    transition: all ease 0.8s;
}
.banner-video{
    margin-left: 28px;
}
.wacth-img{
    margin-right: 25px;
}
.wacth-img > img{
    border-radius: 100%;
    width: 63px;
    position: relative;
}
.wacth-img > .video-play{
    position: absolute;
    bottom: 242px;
    left:290px;
}
.wacth-img .video-play  > a{
    width: 37px;
    height: 37px;
    background-color: var(--bg-orenge);
    color: var(--white-color);
    border-radius: 100%;    
    position: relative;
    border: 3px solid white;
    left:-14px;
    transition: 1s;
}
.video-play:hover a{
    background-color: var(--black-color);
}
.wacth-img .video-play a > i{
    padding-left: 11px;
    padding-top: 10px;
}
.banner-btn > p{
    padding-top: 15px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--black-color);
    width: 100px;
}
.banner-shape-6{
    position: absolute;
    left: 450px;
    bottom: 240px;
}
.banner-main-img{
    position: absolute;
    top:55px;
    right: 90px;
    z-index: -1;
}
.banner-shape{
    position: absolute;
    top:165px;
    right: 80px;
    z-index: -2;
}
.banner-shape img{
    animation: border-transform 8s linear infinite alternate forwards;
}
.banner-shape-1{
    position: absolute;
    top:150px;
    right: 33%;
    z-index: -3;
}
.happy-customer-card{
    background: #ffffff;
    width: 325px;
    padding: 20px 35px;
    position: absolute;
    right: 31%;
    top:570px;
    box-shadow: 0 0 30px rgba(44, 178, 179, 0.1);
}
.happy-customer-card > h2{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: var(--bg-main);
}
.happy-customer-card > p{
    line-height: 30px;
    font-size: 16px;
    padding: 2px;
    color: var(--black-color);
}
.happy-customer-card ul li > img{
    border-radius: 100%;
    border: 2px solid white;
    margin-left: -15px;
    margin-top: 10px;
}
.happy-customer-card ul li:first-child  > img{
    margin-left: 0;
}
.customer-srevices{
    background-color: var(--white-color);
    box-shadow: 0 0 30px rgba(44, 178, 179, 0.1);
    width: 255px;
    padding: 20px 25px 20px 25px;
    margin-left: auto;
    position: absolute;
    top:410px;
    right: 3%;
}
.customer-srevices .hours{
    background: rgba(44, 178, 179, 0.09);
    width: 60px;
    height: 60px;
    line-height: 57px;
    border-radius: 100%;
    padding: 11px;
    margin-right: 10px;
}
.customer-srevices span{
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    line-height: 24px;
    color: var(--bg-main);
}
.customer-srevices p{
    color: var(--black-color);
    line-height: 30px;
    font-size: 16px;
}
.banner-shape-3{
    position: absolute;
    right:128px;
    top: 100px;
}
.banner-shape-4{
    position: absolute;
    top:110px;
    left: 8%;
}
.banner-shape-5{
    position: absolute;
    top: 80px;
    left: 35%;
    animation: rotateme 8s linear infinite;
}
.banner-shape-7{
    position: absolute;
    top:600px;
    left: 35%;
}
/* =================================================== banner area End ================================================ */


/* =================================================== features area start ============================================ */

.features-area{
    height: 550px;
}
.section-title{
    text-align: center;
    margin-bottom: 35px;
}
.top-title{
    color: var(--bg-orenge);
    font-size: 20px;
    font-weight: 400;
    line-height: 10px;
}
.section-title h2{
    color: var(--black-color);
    font-size: 48px;
    font-weight: bold;
    margin-top: 30px;
}
.row{
    margin-left: 70px;
    margin-right: 70px;
}
.row-3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}
.single-features-card{
    background: rgba(105, 4, 152, 0.03);
    padding: 36px 28px;
    margin-bottom: 30px;
}
.features-icon{
    background-color:var(--white-color);
    width: 80px;
    height: 80px;
    line-height: 75px;
    border-radius: 100%;
    text-align: center;
    margin-bottom: 21px
}
.features-icon img{
    padding: 20px;
}
.single-features-card >  h3{
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 20px;
    font-weight: bold;
    color: var(--black-color);
}
.bg-color-1{
    background: rgba(44, 178, 179, 0.05);
}
.bg-color-2{
    background: rgba(79, 44, 179, 0.05);
}
.bg-color-3{
    background: rgba(202, 98, 179, 0.05);
}

/* =================================================== features area end ============================================ */

/* =================================================== panther area start ============================================ */

.row-1{
    height: 100%;
    margin-left: 140px;
    margin-right: 140px;
}

.panther-area{
    border-top: 1px solid #F7F7F7;
    border-bottom: 1px solid #F7F7F7;
    position: relative;
    z-index: 1;
    padding-top: 85px;
    padding-bottom: 85px
}
.panther-area::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 745px;
    background-color: #F7F7F7;
    border-radius: 0px 200px 200px 0px;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}
.clinet-odometer h2{
    font-size: 48px;
    color: var(--bg-orenge);
    line-height: 50px;
    margin-bottom: 20px;
}
.clinet-odometer p{
    color: #262D65;
    font-size: 20px;
    font-weight: 500;
}
.panther-slider{
    margin-left: 80px;
}
.panther {
    position: absolute;
    display: none;
    width: 50%;
    z-index: 1;
    margin-left: 90px;
    margin-top: -30px;
}
/* =================================================== panther area End ============================================ */

/* =================================================== about area start ============================================ */
.about-shape{
    position: absolute;
    left: 0%;
    top:5%;
    z-index: -2;
}
.about-shape-1{
    position: absolute;
    left: 6%;
    top:7%;
    z-index: -1;
    animation: rotateme 25s linear infinite;
}
.about-area{
    position: relative;
    margin-top: 50px;
} 
.left-title{
    text-align: left;
}
.left-title > h2{
    line-height: 70px;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 44px;
}
.left-title > p{
    line-height: 25px;
    margin-bottom: 15px;
}
.single-about-contant >  ul > li{
    margin-bottom: 10px;
    position: relative;
    font-size: 18px;
}
.single-about-contant > ul{
    margin-bottom: 30px;
}
.col-lg-6{
    width: 50%;
}
.call-experts{
    margin-left: 33px;
    position: relative;
}
.phone-call{
    width: 60px;
    height: 60px;
    line-height: 57px;
    background-color: rgba(44, 178, 179, 0.1);
    border-radius: 100%;
    margin-right: 13px;
}
.phone-call > img{
    padding: 15px;
}
.call-num{
    width: 200px;
}
.call-num span{
    font-weight: 500;
}
.call-num > a{
    font-size: 20px;
    font-weight: 500;
    color: #100f0f;
}
.about-shape-3{
    position: absolute;
    bottom: 100px;
    right: 195px;
    z-index: -1;
}
/* =================================================== about area end ============================================ */

/* =================================================== srevices area start ============================================ */
.row-2{
    margin-left: -40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
.srevices-area{
    background-color: #F7F7F7;
}
.srevices-top-item{
    margin-left: -40px;
}
.single-srevice{
    width: 400px;
    background-color: var(--white-color);
    padding: 20px 25px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}
.service-icon{
    width: 85px;
    height: 85px;
    line-height: 80px;
    border-radius: 100%;
    background-color: rgba(44, 178, 179, 0.1);
    margin-left: 18px;
    padding: 20px;
}
.single-srevice > h3{
    font-size: 24px;
    margin-left: 15px;
}
.single-srevice > h3 > a{
    color: var(--black-color);
}
.bg-icon-color{
    background: rgba(44, 179, 82, 0.1);
}
.bg-icon-color-1{
    background: rgba(248, 208, 0, 0.1);
}
.bg-icon-color-2{
    background: rgba(63, 99, 192, 0.1);
}
.single-srevice::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: #2cb2b3;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.8s;
    transform: scaley(0);
    transform-origin:bottom;
    z-index: -1;
}
.single-srevice:hover::after{
    transform: scaleY(1);
}
.single-srevice:hover .service-icon{
    background-color:var(--white-color);
    transition: 0.8s;
}
.single-srevice:hover h3 a{
    color: var(--white-color);
    transition: .8s;
}

/* =================================================== srevices area end ============================================ */


/* =================================================== free Quote start ============================================ */
.from-group{
    margin-bottom: 13px;
}
.from-control{
    background-color: #F7F7F7;
    padding: 13px 18px;
    border: 1px solid #F7F7F7;
    color: var(--black-color);
    font-size: 16px;
    width: 100%;
}
.rangr-slider{
    margin-top: 10px;
    margin-bottom: 39px;
}

.rangr-slider p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--black-color);
}
.rangr-slider__range{
    width: 100%;
    height: 4px;
} 
.free-quote{
    position: relative;
}
.free-qoute-shape img{
    position: absolute;
    top:26%;
    left: 58%;
    z-index: -1;
    animation: border-transform 8s linear infinite alternate forwards;
}
.free-qoute-shape-1{
    position: absolute;
    top:175px;
    right: 190px;
    z-index: -1;
}
.free-qoute-shape-2{
    position: absolute;
    left: 52%;
    bottom: 120px;
}
/* =================================================== free Quote end ============================================ */


/* =================================================== odometer area start ============================================ */
.odometer-area{
    padding: 30px;
    padding: 30px;
    position: relative;
    z-index: 1;
    border-top: 1px solid #F7F7F7;
    border-bottom: 1px solid #F7F7F7;
}
.odometer-area::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background-color: #F7F7F7;
    border-radius: 200px 0 0 200px;
    width: 560px;
    height: 100%;
}
.singale-odometer-item h2{
    color: #2cb2b3;
    font-size: 64px;
    font-weight: bold;
}
 .singale-odometer-item p{
    font-weight: 500;
    color: var(--black-color);
    padding-top: 40px;
}
.single-odometer-item-2{
    background-color: var(--bg-orenge);
    padding: 95px 140px 63px 150px;
    text-align: center;
    border-radius: 215px;
    margin-left: -40px;
    position: relative;
    z-index: 1;
}
.single-odometer-item-2::after{
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(../img/odometerbg-shape-1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}
.single-odometer-item-2 > h2{
    font-size: 110px;
    color: var(--white-color);
    line-height: 0 !important;
}
.single-odometer-item-2 > p{
    font-size: 20px;
    color: var(--white-color) ;
    font-weight: 600;
    padding-top: 60px;
}
.odometer-shape-1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.col-lg-8{
    width: 66.66%;
}
/* =================================================== odometer area end ============================================ */

/* =================================================== experts-arae start ============================================ */
.single-experts-cards{
    margin-bottom: 30px;
}
.expert-list{
    position: absolute;
    top: 0;
    left: -65px;
    background-color: #ffffff;
    border-radius: 0 0 30px 30px;
    padding: 11px 13px 20px 13px;
    transition: all ease 0.8s;
    opacity: 0;
}
.single-experts-cards:hover .expert-list{
    position: absolute;
    top:0;
    left: 30px;
    opacity: 1;
}
.expert-list ul li{
    margin-bottom: 10px;
}
.expert-list ul li a{
    width: 36px;
    height: 36px;
    line-height: 40px;
    border-radius: 100%;
    background-color: rgba(44, 178, 179, 0.1);
    color: #2cb2b3;
    text-align: center;
    display: inline-block;
    transition: all ease 0.8s;
}
.expert-list ul li:hover a{
    background-color: #2cb2b3;
    color: var(--white-color);
}
.expert-content{
    z-index: 2;
    position: relative;
    top: -70px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(85, 85, 85, 0.07);
    padding: 20px;
    margin: 0 25px;
    text-align: center;
    transition: all ease 0.8s;
}
.expert-content h3{
    font-size: 24px;
    transition: all ease 0.8s;
    color: var(--black-color);
}
.single-experts-cards:hover .expert-content{
    color: var(--white-color);
    background-color: #2cb2b3;
}
.single-experts-cards:hover .expert-content h3{
    color: var(--white-color);
}
.owl-nav{
    position: absolute;
    top:25%;
    left: -80px;
    display: flex;
    justify-content: space-between;
    z-index: -10;
    width: 112%;
}
.owl-prev,
.owl-next{
    font-size: 30px;
    background-color: rgba(44,178,179,.09) !important;
    border-radius: 100% !important;
    width: 54px;
    height: 54px;
    line-height: 61px;
    text-align: center;
    transition: all ease 0.8s;
    color: var(--black-color) !important;
}
.owl-prev:hover,
.owl-next:hover{
    background-color: #009C9D !important;
    transition: all ease 0.8s;
    color: var(--white-color) !important;
}

/* =================================================== experts-arae end ============================================ */


/* =================================================== testimonial-arae start ============================================ */
.testimonal-area{
    position: relative;
    background-color: #F7F7F7;
}
.testimonal-main > img{
    border-radius: 100%;
    width: 300px !important;
    position: relative;
    top: -20px;
    left: 70px;
}
.testimonal-bg-shape12{
    position: absolute;
    top:0;
    left: 10px;
    margin: 50px;
    animation: rotateme 25s infinite linear;
}
.testimonal-img2 > img{
    position: absolute;
    top:70px;
    left: 80px;
    border-radius: 100%;
    animation: ripple 6s linear infinite;
}
.testimonal-img3 > img{
    position: absolute;
    top:450px;
    left:500px;
    border-radius: 100%;
    animation: ripple 6s linear infinite;
}
.testimonal-clinet > img{
    height: 100px;
    width: 100px !important;
    border-radius: 100%;
}
.testimonal-text{
    margin: 20px;
}
.testimonal-text > h3{
    font-size: 24px;
    margin-bottom: 4px;
    color: var(--black-color);
}
.testimonal-card{
    background-color: white;
    box-shadow: 0 2px 10px rgba(158, 158, 158,0.2);
    margin-top: 40px;
    padding: 20px;
    width: 600px !important;
}
.testimonal-card > p{
    margin: -40px 15px 15px 15px ;
    font-size: 18px;
    color: var(--black-color);
}
.quote-icon{
    height:75px;
    width: 75px !important;
    border-radius: 100%;
    position: relative;
    top: -55px;
    right: -80%;
    background-color: white;
    padding:17px ;
    box-shadow: 0 0 5px rgb(186, 185, 185);
}
/* =================================================== testimonial-arae start ============================================ */

/* =================================================== blog-arae start ============================================ */
.single-blog-card{
    margin-bottom: 30px;
    position: relative;
}
.date{
    background:var(--bg-orenge);
    border-radius: 30px 0 0 30px;
    padding: 15px 30px;
    position: absolute;
    right: 0;
    top:20px
}
.date span{
    font-size: 16px;
    font-weight: 500;
    color: var(--white-color);
}
.single-blog-content{
    background: #fff;
    box-shadow: 0 0 30px rgba(85,85,85,.1);
    padding: 35px 40px;
    margin-top: -100px;
    z-index: 2;
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
}
.single-blog-content ul li{
    display: inline-block;
    padding-left: 42px;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
}
.single-blog-content img{
    width: auto !important;
}
.single-blog-content ul li .admin{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e4f5f5;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: auto;
}
.single-blog-card h3{
    font-size: 24px;
    line-height: 34px;
}
.single-blog-content h3 > a{
    color: var(--black-color);
    transition: all ease 0.8s;
}
.single-blog-content h3:hover a{
    color: var(--bg-main);
    transition: all ease 0.8s;
}
/* =================================================== blog-arae start ============================================ */

 /* =================================================== subscribe-arae start ============================================ */
 .subscribe-area{
    position: relative;
    z-index: 1;
    border-top: 1px solid rgba(221,212,212,.36);
    border-bottom: 1px solid rgba(221,212,212,.36);
    padding-top: 80px;
    padding-bottom: 70px;
 }
 .subscribe-area::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 700px;
    left: 0;
    top:0;
    z-index: -1;
    background-image: url(/img/subscribe-bg-shape.webp);
    background-size:cover ;
    background-position:top;
    background-repeat: no-repeat;
    background-color: #2cb2b3;
    border-radius: 0px 200px 200px 0px ;
 }
 .subscribe-area  .section-title {
    margin-bottom: 0;
 }
 .subscribe-area  .section-title > .top-title {
    color:var(--white-color);
}
.subscribe-area  .section-title > h2{
    color: var(--white-color);
}
.from-control{
    background: #F7F7F7;
    border: 1px solid #e0dada;
    padding: 25px 23px;
    line-height: 10px;
}
.from-control .from-1{
    position: relative;
}
.from-1 > .default-btn {
    position: absolute;
    top: 110px;
    right: 125px;
    padding: 18px 35px;
}
.subscribe-shape{
    position: absolute;
    top: 58px;
    left: 47%;
    z-index: -1;
    animation: moveleftbounce 8s linear infinite;
}
.subscribe-shape-13{
    position: absolute;
    top:120px;
    right: 65px;
    z-index: -1;
    animation: rotateme 8s linear infinite;
}
/* =================================================== subscribe-arae end ============================================ */

/* =================================================== footer-arae start ============================================ */
.pt-100{
    padding-top: 100px;
}
.footer-area{
    background-color: #f4fbfb;
    position: relative;
}
.footer-widget img,
.footer-widget p{
    margin-bottom: 20px;
}
.footer-widget ul li{
    margin-right: 10px;
    transition: all ease 0.8s;
}
.footer-widget ul li a{
    width: 36px;
    height: 36px;
    line-height: 40px;
    color: var(--bg-main);
    font-size: 18px;
    border-radius: 50px;
    background-color: rgba(44,178,179,.09);
    text-align: center;
    font-size: 14px;
    transition: all ease 0.8;
} 
.footer-widget ul li:hover a{
    background-color: var(--bg-main);
    color: var(--white-color);
}
.footer-widget-list{
    margin-left: -20px;
}
.footer-widget-link1{
    padding-left: 100px;
}
.footer-widget-link1 h2{
    font-size: 24px;
    margin-bottom: 28px;
    color: var(--black-color);
}
.footer-widget-link1 ul li{
    margin-bottom: 6px;
}
.footer-widget-link1 ul li a{
    padding-left: 25px ;
    line-height: 30px;
    color: #555555;
    font-size: 16px;
}
.footer-widget-link1 ul li a i{
    font-size: 12px;
    padding-right: 10px;
    color: #009C9D;
}
.footer-widget-link1 ul li:hover a,
.footer-widget-link1 ul li:hover i{
    color: var(--bg-orenge);
}
.link2{
    margin-left: -60px;
}
.footer-widget{
    margin-left: 39px;
}
.footer-widget h2{
    font-size: 24px;
    margin-bottom: 24px;
    color: var(--black-color);
}
.touch-content{
    padding: 10px;
    position: relative;
    align-items: center;
}
.contact-icon{
    width: 41px;
    height: 41px;
    line-height: 38px;
    background-color: var(--white-color);
    padding: 13px;
    border-radius: 100%;
}
.touch-content > a{
    font-size: 16px;
    color:#555555 ;
    margin-left: 10px;
    margin-top: 5px;
}
.touch-content:hover a{
    color: var(--bg-orenge);
}
.touch-content > p{
    font-size: 16px;
    width: 70%;
    margin-left: 10px;
}
.footer-shape-1{
    position: absolute;
    left: -30px;
    bottom: 0;
    width: 130px;
}
.footer-shape-2{
    position: absolute;
    right: 0;
    bottom: 0;

}
/* =================================================== footer-arae start ============================================ */


/* =============================================================================================================================
=================================================================================================================================
                                                        About us area
=================================================================================================================================
=================================================================================================================================*/

/* ===================================================page-banner start========================================================= */
.page-banner{
    padding-top: 255px;
    padding-bottom: 170px;
    z-index: -2;
    background-image: linear-gradient(rgba(44, 178, 179 , .2),rgba(44, 178, 179 , .1)),url(/img/page-banner-1.webp);
    background-size: cover;
    background-position: bottom center,bottom center;
    background-repeat: no-repeat;
}
.singale-page-banner-content h1{
    font-size: 48px;
    font-weight: 700;
    color: var(--black-color);
    margin-bottom: 25px;
}
.singale-page-banner-content ul li{
    margin-right: 15px;
    position: relative;
    font-size: 16px;
    z-index: 10;
}
.singale-page-banner-content ul li a{
    color: var(--bg-main);
}
.singale-page-banner-content ul li:hover a{
    color: var(--bg-orenge);
}
.singale-page-banner-content ul .home::before{
    content: '';
    position: absolute;
    width: 1.8px;
    height: 15px;
    background-color: #555555;
    right: -12px;
    top: 20%;

}
.singale-page-banner-content ul li:last-child{
    margin-right: 0;
    margin-left: 10px;
}
/* ===================================================page-banner end========================================================= */

/* ===================================================odometer-two-area start================================================= */
.odometer-two-area{
    background-color: #2cb2b3;
    z-index: 1;
    position: relative;
}
.odometer-two-area h2{
    font-size: 70px;
    color: var(--white-color);
    margin-bottom: 40px;
}
.odometer-two-area p{
    font-size: 700;
    color: var(--white-color);
}
.odometer-shape{
    position: absolute;
    top: 40px;
}
.odometer-shape-2{
    position: absolute;
    right: 0;
    bottom: 0;

}
/* ===================================================odometer-two-area end========================================================= */
/* ==================================================recruiment-area start========================================================= */

.recruiment-area{
    position: relative;
}
.p-20{
    padding-left: 50px;
}
.recruiment-img{
    margin-right: 15px;
}
.recruiment-main{
    position: absolute;
    left: 13%;
    top:120px;
    overflow: hidden;
    border-radius: 100%;
}
.recruiment-main img{
    width: 500px;
    height: 500px;
    transform: scale(1);
    transition: 0.8s;
}
.recruiment-main:hover img{
    transform: scale(1.2);
}
.btn-syle-2{
    border-radius: 50px;
}
.recruiment-shap{
    position: absolute;
    right: 15%;
    bottom: 130px;
}
/* ==================================================recruiment-area end========================================================= */
/* ==================================================team-area start========================================================= */
.team-area{
    background-color: #f5f5f5;
    position: relative;
}
.single-team-card{
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.team-img{
    overflow: hidden;
    border-radius: 20px;
}
.single-team-contant{
    text-align: center;
    padding-top: 26px;
    padding-bottom: 10px;
}
.single-team-contant h3{
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--black-color);
    transition: all ease 0.8s;
}
.single-team-contant p{
    transition: all ease 0.8s;
}
.single-team-contant ul{
    margin-top: 15px;
    transition: all ease 0.8s;
}
.single-team-contant ul li{
    margin-right: 10px;
}
.single-team-contant ul li a{
    width: 36px;
    height: 36px;
    background: rgba(44,178,179,.09);
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    color: #2cb2b3;
    font-size: 15px;
}
.single-team-card:hover .single-team-contant p,
.single-team-card:hover .single-team-contant h3{
    color: var(--white-color);
}
.single-team-card:hover .single-team-contant ul li a{
    background: var(--white-color);
}
.single-team-card::after{
    content: '';
    width: 100%;
    background-color: #2cb2b3;
    position: absolute;
    top: 0;
    right: 0;
    transition:.8s;
    transform: scaley(0);
    transform-origin:bottom;
    z-index: -1;
    border-radius: 20px;
}
.single-team-card:hover::after{
    content: '';
    height: 100%;
    transform: scaleY(1);
    border-radius: 20px;
}
/* ==================================================team-area start========================================================= */

/* ==================================================testominal-two-area start================================================ */

.testimonal-two-area{
    background-color:transparent;
    position: relative;
    z-index: 1;
}
.teastimonial-card-three{
    box-shadow: 0 0 30px rgba(85, 85, 85, 0.1);
    background:#fff;
    border: 1px solid #f9f9f9;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* =============================================================================================================================
=================================================================================================================================
                                                        pricing area
=================================================================================================================================
=================================================================================================================================*/

/* ===================================================page-banner start========================================================= */

.team-page-are{
    background-image: linear-gradient(rgba(44, 178, 179 , .2),rgba(44, 178, 179 , .1)),url(/img/page-banner-2.webp);
}

/* ===================================================page-banner end========================================================= */

/* ===================================================pricing-area start========================================================= */
.box{
    width: 33.33%;
}
.single-pricing-plan-card{
    position: relative;
    background-color: rgba(247,96,49,.3);
    box-shadow: 0 0 30px rgba(85,85,85,.1);
    z-index: 1;
    padding: 50px 45px;
    margin-bottom: 30px;
    transition: all ease 0.8s;
    margin-right: 50px;
}
.single-pricing-plan-card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #fff;
    border-radius: 0 60px;
}
.single-pricing-plan-card:hover {
    background: #2cb2b3;
    box-shadow: 0 0 30px rgba(85,85,85,.1);
}
.single-pricing-plan-card h3{
    font-size: 20px;
    margin-bottom: 25px;
    color: var(--black-color);
    text-align: center;
}
.pricing-box{
    background-color: #eaf9f4;
    border-radius: 50px;
    padding: 14px 45px;
    margin-bottom: 21px;
    display: inline-block;
    text-align: center;
    margin-left: 40px;
}
.pricing-box h4{
    font-size: 32px;
    color: #2cb2b3;
    transition: all ease 0.8s;
}
.pricing-list{
    margin-bottom: 26px;
}
.pricing-list > p {
    font-size: 15px;
    text-align: center;
}
.single-pricing-plan-card > .default-btn{
    background: linear-gradient(180deg,rgba(45,199,130,0.1) 0%,rgba(44,184,166,0.1) 100%);
    color: #2cb2b3;
    width: 100%;
    max-width: 285px;
    margin-left: auto;
    margin-right: auto;
    transition:all ease 0.8s;
    z-index: 1;
    position: relative;
    text-align: center;
}
.single-pricing-plan-card:hover .default-btn {
    color: var(--white-color);
}
.single-pricing-plan-card .default-btn::before{
    background: linear-gradient(180deg,#2DC782 0%,#2CB8A6 100%);
    opacity: 0;
    visibility: hidden;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    transition: all ease 0.8s;
}
.single-pricing-plan-card:hover .default-btn::before{
    opacity: 1;
    visibility: visible;
}

/* ===================================================pricing-area end========================================================= */

/* =============================================================================================================================
=================================================================================================================================
                                                        pricing area
=================================================================================================================================
=================================================================================================================================*/

/* ===================================================srevices-card start========================================================= */
.srevice-card-three p{
    font-size: 15px;
    margin: 10px 25px 0px 17px;
    color: #555555;
    transition: all ease 0.8s;
}
.srevice-card-three:hover p{
    color: var(--white-color);
}
.srevice-card-three .default-btn{
    background: linear-gradient(180deg,rgba(45,199,130,0.1) 0%,rgba(44,184,166,0.1) 100%);
    color: #2cb2b3;
    transition:all ease 0.8s;
    z-index: 1;
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-left: 15px;
}
.srevice-card-three:hover .default-btn {
    color: var(--bg-main);
    background-color: var(--white-color);
}
/* ===================================================srevices-card start========================================================= */

/* ===================================================pagination-area start========================================================= */
.pagination-area{
    text-align: center;
}
.pagination-area .page-numbers{
    width: 50px;
    height: 50px;
    line-height: 50px;
    color:var(--black-color);
    text-align: center;
    display: inline-block;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid rgba(44,178,179,.19);
    transition: all ease 0.8s;
    margin-right: 10px;
}
.pagination-area .current{
    color: var(--white-color) !important;
    transition: all ease 0.8s;
    background-color: var(--bg-main) !important;
}
.current:hover{
    background-color: var(--bg-orenge) !important;
    transition: all ease 0.8s;
}
.page-numbers:hover{
    background:var(--bg-main) ;
    color: var(--white-color);
}
/* ===================================================pagination-area end========================================================= */

/* ==============================================insurance-benifits-area start===================================================== */
.insurance-area{
    background-color: #f0f0f0;
    position: relative;
}
.insurance-shape-1{
    position: absolute;
    top: 105px;
    animation: rotateme 8s linear infinite;
}
.insurance-shape-2{
    position: absolute;
    top:39px;
    right: 850px;
    animation: rotateme 8s linear infinite;
}
.insurance-card{
    background-color: var(--white-color);
    padding: 21px 25px;
    position: relative;
    z-index: 1;
}
.insurance-card p{
    font-size: 14px;
}
.insurance-text{
    margin-bottom: 15px;
}
.insurance-text h3{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-left:10px;
    color: var(--black-color);
}
.insurance-text  span{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    color: var(--white-color);
    background-color: var(--bg-main);
    font-size: 20px;
    padding: 9px;
}
.m-20{
    width: 45%;
    margin-right: 20px;
}
/* ==============================================insurance-benifits-area end===================================================== */


/* =============================================================================================================================
=================================================================================================================================
                                                        FAQ area
=================================================================================================================================
=================================================================================================================================*/

/* ==============================================protfolio-page-area start===================================================== */
.protfolio-page-area{
    background-image: linear-gradient(rgba(44, 178, 179 , .2),rgba(44, 178, 179 , .1)),url(/img/page-banner-3.webp);
}
/* ==============================================protfolio-page-area end===================================================== */

/* ==============================================FAQ-area start===================================================== */
.faqs-area{
    position: relative;
}
.faqs-img-2{
    position: absolute;
    right: 50%;
    top: 400px;
    background: var(--white-color);
    border-radius: 100%;
    padding: 20px;
}
.faqs-img-2 img{
    border-radius: 100%;
}
.accrodion-item{
    margin-bottom: 20px;
    background-color: var(--bg-main);
    padding: 15px 10px;
    color: var(--white-color);
    border-radius: 10px 10px 0px 0px ;
    position: relative;
}
.accrodion-item h2{
    font-size: 16px;
    font-weight: 500;
}
.accrodion-item span{
    margin-left: 140px;
}
.accrodion-body{
    background: #fff;
    box-shadow: 0 0 30px rgba(85, 85, 85, .1);
    padding: 15px;
    position: absolute;
    width: 640px;
    top: 285px;
}
.accrodion-body p{
    font-size: 15px;
}
.accrodion-item-1{
    margin-bottom: 20px;
    background-color:rgb(247, 247, 247);
    justify-content: space-between;
}
.accrodion-item-1 h2{
    font-size: 16px;
    font-weight: 500;
    padding: 15px 10px;
    color: var(--black-color);
}
.accrodion-item-1 span{
    font-size: 27px;
    margin-right: 25px;
    color: var(--black-color);
}
/* ==============================================FAQ-area end===================================================== */


/* ==============================================massage-area start===================================================== */
.massage-area{
    background-color:rgb(247, 247, 247);
    position: relative;
    z-index: 1;
}
.form-control{
    padding: 20px 20px;
    color: var(--white-color);
    border:1px solid white;
    width: 80%;
    font-size: 16px;
}
.form-text{
    width: 1045px !important;
}
.col-mg-6{
    margin-right: -110px;
    margin-left: 110px;
}
.col-lg-12{
    margin-left: 110px;
}
.faqs-shape-1{
    position: absolute;
    right: 270px;
    bottom: 80px;
    z-index: -1;
}
.faqs-shape-2{
    position: absolute;
    right:293px;
    bottom: 125px;
    z-index: -1;
    animation: rotateme 8s linear infinite;
}
.faqs-shape-3{
    position: absolute;
    left: 419px;
    top: 160px;
    z-index: -1;
    animation: rotateme 8s linear infinite;
}
/* ==============================================massage-area end===================================================== */

/* =============================================================================================================================
=================================================================================================================================
                                                        team area
=================================================================================================================================
=================================================================================================================================*/
/* ==============================================team-area start===================================================== */
.team-page-card:hover .team-img-2{
    transform: scale(1.2);
    overflow: hidden;
    transition: all ease 0.8s;
}
.team-page-card .team-img-2{
    transition: all ease 0.8s;
    transform: scale(1);

}
/* ==============================================team-area end===================================================== */




/* =============================================================================================================================
=================================================================================================================================
                                                        login area
=================================================================================================================================
=================================================================================================================================*/
/* ==============================================login-account-area start===================================================== */
.my-account-area{
    background-color: #f7f7f7;
    justify-content: center;
}
.my-account-form{
    background-color: var(--white-color);
    padding: 50px;
}
.login-form{
    width: 600px;
    margin: auto;
}
.my-account-form h2{
    color: var(--black-color);
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    border-bottom: 1px solid rgba(196,196,196,.3);
}
.form-chack-input {
    width: 18px;
    height: 18px;
    position: relative;
    border: 1px solid rgba(196,196,196,.3) !important;
}
.form-chack-label{
    font-size: 16px;
    color: #777;
    margin-left: 5px;
}
.account-text p{
    display: flex;
    justify-content: flex-end;
}
.account-text a{
    color: #555555;
    font-size: 16px;
}
.account-text:hover a{
    color: var(--bg-orenge);
}
.my-account-btn{
    margin-top: 20px;
    text-align: center;
}
/* ==============================================login-account-area end===================================================== */
/* =============================================================================================================================
=================================================================================================================================
                                                        policy area
=================================================================================================================================
=================================================================================================================================*/
/* ==============================================terms-conditions-area start===================================================== */
.privacy-text h3{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 25px;
    color: var(--black-color);
    position: relative;
}
.privacy-text h3::after{
    content: '';
    position: absolute;
    background-color:var(--bg-main);
    width: 15px;
    height: 15px;
    top: 15%;
    left: 0;
}
.privacy-text p{
    font-size: 16px;
    line-height: 25px;
}
/* ==============================================terms-conditions-area end===================================================== */
/* =============================================================================================================================
=================================================================================================================================
                                                        404-error area
=================================================================================================================================
=================================================================================================================================*/
/* ==================================================error-area start===================================================== */
.error-content{
    text-align: center;
}
.error-content h1{
    font-size: 260px;
    line-height: 200px;
    color: var(--bg-main);
    font-weight: 700;
    margin-bottom: 20px;
}
.error-content span{
    color: var(--bg-orenge);

}
.error-content h2{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 900;
    color: var(--black-color);
}
.error-content p{
    margin-bottom: 30px !important;
    width: 500px;
    margin: auto;
}
/* ===================================================error-area end===================================================== */
/* =============================================================================================================================
=================================================================================================================================
                                                        protfolio-area
=================================================================================================================================
=================================================================================================================================*/
/* ==================================================protfolio-area start===================================================== */
.protfolio-area{
    background-color:#fdfdfd;
}
.col-lg-7{
    width: 25%;
}
.protfolio-page-card{
    background-color: #fff;
    box-shadow: 0 0 30px rgba(85,85,85,.1);
    border-radius: 20px;
    margin-left: 15px;
}
.single-protfolio-card{
    background-color: var(--white-color);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    position: relative;
}
.single-protfolio-card .protfolio-img{
    overflow: hidden;
    border-radius: 20px;
}
.protfolio-img img{
    width: 100%;
    transition: all ease 0.8s;
    border-radius: 20px;
}
.protfolio-img a{
    transition: all ease 0.8s;
    transform: scale(1);
    overflow: hidden;
    border-radius: 20px;
}
.protfolio-img a:hover > img{
    transform: scale(1.2);
    transition: all ease 0.8s;
}
.protfolio-content{
    padding: 22px 0 10px;
    text-align: center;
}
.protfolio-content h3{
    color: var(--black-color);
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    transition: all ease 0.8s;
}
.protfolio-content:hover h3{
    color: var(--bg-main);
}
.protfolio-icon{
    background-color: var(--white-color);
    padding: 5px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin:auto ;
    position: absolute;
    left: 0;
    right: 0;
    top:200px;
    opacity: 0;
    visibility: hidden;
    transform:scale(0);
    transition: all ease 0.8s;
}
.protfolio-icon a{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    background-color: var(--bg-main);
    color: var(--white-color);
    position: relative;
    font-size: 25px;
    transition: all ease 0.8s;
}
.protfolio-icon a i{
    margin: 13px;
}
.protfolio-icon:hover a{
    background-color: var(--bg-orenge);
}
.single-protfolio-card:hover .protfolio-icon{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: all ease 0.8s;
}
/* ==================================================protfolio-area end===================================================== */
/* =============================================================================================================================
=================================================================================================================================
                                                        blog-area
=================================================================================================================================
=================================================================================================================================*/
/* ==================================================blog-area start===================================================== */
.blog-page-area{
    background-image: linear-gradient(rgba(44, 178, 179 , .2),rgba(44, 178, 179 , .1)),url(/img/page-banner-4.webp);
}
.col-md-6{
    width: 48%;
    margin-right: 16px;
}
.blog-three-card .blog-img img{
    width: 100%;
    transition: all ease 0.8s;
}
.blog-img{
    transition: all ease 0.8s;
    transform: scale(1);
    overflow: hidden;
}
.blog-img:hover > img{
    transform: scale(1.2);
    transition: all ease 0.8s;
}
.blog-three-content{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -5px;
}
.blog-three-card .date{
    border-radius: 0;
    right: auto;
    top: 40%;
}
.search-box{
    margin-bottom: 30px;
    background-color: #f7f7f7;
    padding: 30px;
}
.search-box h2,
.recent-posts h2{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--black-color);
}
.search-box .search-form{
    position: relative;
    transition: all ease 0.8s;
}
.col-lg-04{
    width: 33.33%;
}
.search-input{
    background-color: #fff;
    border: 1px solid #fff;
    padding: 15px 30px 15px 18px;
    font-family: 400;
    font-size: 16px;
    color: #555555;
    width: 100%;
}
.search-btn{
    position: absolute;
    background-color: var(--bg-main);
    width: 45px;
    height: 40px;
    line-height: 46px;
    top: 10%;
    right: 5px;
    border: none;
    color: var(--white-color);
    font-size: 18px;
}
.recent-posts{
    background-color: #f7f7f7;
    padding: 30px;
    position: relative;
    width: 100%;
}
.recent-post-card{
    margin-bottom: 30px;
    padding-left: 100px;
}
.recent-post-img img{
    left: 0;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    width: 90px;
    height: 80px;
    transition: all ease 0.8s;
}
.recent-box{
    display: inline-flex;
    margin-bottom: 20px;
}
.recent-post-text{
    margin-left: 15px;
}
.recent-post-text span{
    font-weight: 400;
    font-size: 16px;
    color: var(--bg-orenge);
    display: inline-block;
    margin-bottom: 8px;
}
.recent-post-text h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.recent-post-text h3 a{
    color: var(--black-color);
    transition: all ease 0.8s;
}
.recent-post-text h3:hover a{
    color:var(--bg-main);
    transition: all ease 0.8s;
}
.recent-post-img a{
    transition: all ease 0.8s;
    transform: scale(1);
    overflow: hidden;
}
.recent-post-img a:hover > img{
    transform: scale(1.2);
    transition: all ease 0.8s;
}
/* ==================================================blog-area end===================================================== */
/* =============================================================================================================================
=================================================================================================================================
                                                        contact-us-area
=================================================================================================================================
=================================================================================================================================*/
/* ==================================================contact-form-area start===================================================== */
.single-contant-img{
    position: relative;
}
.contact-from-area .section-title h2{
    line-height: 50px;
}
.contact-main-img{
     animation: rotateme 30s linear infinite;
}
.contact-img1{
    position: absolute;
    bottom: 66px;
    right: 116px;
    z-index: 2;
}
.contact-img2{
    position: absolute;
    bottom: 66px;
    left: 90px;
    z-index: 3;
}
.contact-img3{
    position: absolute;
    bottom: 267px;
    left: 152px;
    z-index: 1;
    animation: rotateme 8s linear infinite;
}
.contact-img4{
    position: absolute;
    bottom: 230px;
    left: 55px;
    z-index: 2;
}
.from{
    padding: 16px 22px;
    margin-bottom: 20px;
}
.col-mp-6{
    width: 100%;
}
.form-chack-label a{
    color: var(--bg-main);
    margin-left: 5px;
    transition: all ease 0.8s;
}
.form-chack-label a:hover{
    color: var(--bg-orenge);
    transition: all ease 0.8s;
}
.disabled{
    width: 100%;
    margin-top: 20px;
}
/* ==================================================contact-form-area end===================================================== */

/* ==================================================contact-area start===================================================== */
.contact-card-item{
    background-color: var(--white-color);
    padding: 40px;
    margin-bottom: -120px;
    z-index: 2;
    position: relative;
}
.contact-card{
    background: #f7f7f7;
    padding: 30px 30px 30px 110px;
    position: relative;
    transition: all ease 0.8s;
}
.contact-ico{
    width: 70px;
    height: 70px;
    line-height: 66px;
    text-align: center;
    background-color: var(--white-color);
    border-radius: 100%;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-30px);
    transition: all ease 0.8s;
}
.contact-ico img{
    padding: 15px 0 15px 0;
}
.contact-card h2{
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--black-color);
}
.contact-card p{
    line-height: 26px;
    margin-bottom: 5px;
    font-size: 16px;
}
.contact-card p a{
    font-size: 16px;
    color: #555555;
    line-height: 26px;
    margin-bottom: 5px;

}
.contact-card a{
    font-size: 16px;
    font-size: 400;
    color: #555555;
    line-height: 26px;
}
.contact-card a:hover{
    color: var(--bg-orenge);
}
.col-mg-4{
    width: 33.33%;
    padding: 5px;
}
.contact-card:hover{
    transform: translateY(-10px);
}
/* ==================================================contact-area end===================================================== */
/* ==================================================map-area start===================================================== */
.map-area{
    overflow: hidden;
}
.place-map{
    width: 100%;
    height: 100%;
    margin-bottom: -10px;
}
.place-map .maps{
    width: 100%;
    height: 640px;
    display: inline-block;
}
.our-brand-area{
    position: relative;
}
.owl-nav-3{
    position: absolute;
    top: 0%;
}